VITE_APP_TITLE=LMS Chat
VITE_CHAT_API_URL=http://localhost:8085/api/chat
VITE_CHAT_SOCKET_URL=http://localhost:8085
VITE_CHAT_SOCKET_PATH=/socket.io
VITE_AUTH_TOKEN_STORAGE_KEY=lms_access_token
VITE_AUTH_USER_STORAGE_KEY=lms_user
